<footer>
  <div class="container-fluid text-center py-5 footerDescription">
    <div class="row py-5">
      <div class="col-md-4">
        <div class="location text-white">
          <h4 class="text-uppercase fw-semibold fs-1">location</h4>
          <p class="fs-5">2215 John Daniel Drive</p>
          <p class="fs-5">Clark, MO 65243</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="soical-media text-white text-center fs-4">
          <p class="text-uppercase fs-2 fw-semibold">around the web</p>
          <div class="icon d-flex gap-3 justify-content-center">
            <i class="fa-brands fa-facebook p-3 border rounded-pill"></i>
            <i class="fa-brands fa-twitter p-3 border rounded-pill"></i>
            <i class="fa-brands fa-linkedin-in p-3 border rounded-pill"></i>
            <i class="fa-solid fa-globe p-3 border rounded-pill"></i>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="about-Freelance text-white px-5">
          <h4 class="text-uppercase fw-semibold fs-1">about freelancer</h4>
          <p class="fs-5">
            Freelance is a free to use, licensed Bootstrap theme created by
            Route
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container text-center py-3 text-white">
    <p>Copyright © Your Website 2021</p>
  </div>
</footer>
<!-- <div class="d-flex justify-content-between text-center ">



  </div> -->
