<section id="CONTACT" class="pb-5">
  <h2 class="text-center text-uppercase fw-bolder pt-5">conatct section</h2>
  <div class="star position-relative my-3 text-center">
    <i class="fa-solid fa-star"></i>
  </div>
  <div class="container w-50">
    <form action="">
      <!-- <label for="">userName</label> -->
      <input
        type="text"
        placeholder="userName"
        class="w-100 py-4 border-0 border-bottom rounded"
      />
      <input
        type="text"
        placeholder="userAge"
        class="w-100 py-4 border-0 border-bottom rounded"
      />
      <input
        type="email"
        placeholder="userEmail"
        class="w-100 py-4 border-0 border-bottom rounded"
      />
      <input
        type="text"
        placeholder="userPassword"
        class="w-100 py-4 border-0 border-bottom rounded"
      />
      <button class="btn mt-4 text-white">send Message</button>
    </form>
  </div>
</section>
