<section id="portfolio" class="pb-5">
  <h2 class="text-center text-uppercase fw-bolder pt-5">portfolio component</h2>
  <div class="star position-relative my-3 text-center">
    <i class="fa-solid fa-star"></i>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 p-4">
        <div class="card position-relative overflow-hidden border-0">
          <img src="./portofolio/poert1.png" alt="" class="img-fluid rounded" />
          <div
            class="layer position-absolute w-100 h-100 d-flex justify-content-center align-items-center"
          >
            <i class="fa-solid fa-plus"></i>
          </div>
        </div>
      </div>
      <div class="col-md-4 p-4">
        <div class="card position-relative overflow-hidden border-0">
          <img src="/portofolio/port2.png" alt="" class="img-fluid rounded" />
          <div
            class="layer position-absolute w-100 h-100 d-flex justify-content-center align-items-center"
          >
            <i class="fa-solid fa-plus"></i>
          </div>
        </div>
      </div>
      <div class="col-md-4 p-4">
        <div class="card position-relative overflow-hidden border-0">
          <img src="./portofolio/port3.png" alt="" class="img-fluid rounded" />
          <div
            class="layer position-absolute w-100 h-100 d-flex justify-content-center align-items-center"
          >
            <i class="fa-solid fa-plus"></i>
          </div>
        </div>
      </div>
      <div class="col-md-4 p-4">
        <div class="card position-relative overflow-hidden border-0">
          <img src="./portofolio/poert1.png" alt="" class="img-fluid rounded" />
          <div
            class="layer position-absolute w-100 h-100 d-flex justify-content-center align-items-center"
          >
            <i class="fa-solid fa-plus"></i>
          </div>
        </div>
      </div>
      <div class="col-md-4 p-4">
        <div class="card position-relative overflow-hidden border-0">
          <img src="./portofolio/port2.png" alt="" class="img-fluid rounded" />
          <div
            class="layer position-absolute w-100 h-100 d-flex justify-content-center align-items-center"
          >
            <i class="fa-solid fa-plus"></i>
          </div>
        </div>
      </div>
      <div class="col-md-4 p-4">
        <div class="card position-relative overflow-hidden border-0">
          <img src="./portofolio/port3.png" alt="" class="img-fluid rounded" />
          <div
            class="layer position-absolute w-100 h-100 d-flex justify-content-center align-items-center"
          >
            <i class="fa-solid fa-plus"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
